
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>[WIP] Ambient Sound Mixer</title>
        <script src="https://kit.fontawesome.com/b481b1a2ec.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    </head>
    <body>
        <div class="header-top">
            <h1 class="header-top-text">DASM</h1>
        </div>
        <div class="header-bottom">
            <button class="new-page-button" id="loginButton" href="/login">Login</button>
            <div style="float: left; margin-left: 20px;">
                <% if (typeof user != "undefined") { %>
                    <%=user %>
                <% } %>
            </div>
            <h2 class="header-bottom-text">
                SOUND MIXER
            </h2>
        </div>
        <div class="audio-content">
            <h2>Audio</h2>
            <div class="audio-grid">
                <div class="column">
                    <button class="dropdown-box audio-box" id="dropdown1">
                        <i class="play-icon fa-solid fa-caret-right" id="dropdownIcon1"></i>
                        Weather
                        <i class="icon fa-solid fa-cloud-rain"></i>
                    </button>
                    <div class="column" id="column1" style="display: none;">
                        <button class="audio-box" id="rainButton">
                            <i id="rainPlayIcon" class="play-icon fa-solid fa-play"></i>
                            rainButton
                        </button>
                    </div>
                </div>
                <div class="column">
                    <button class="dropdown-box audio-box" id="dropdown2">
                        <i class="play-icon fa-solid fa-caret-right" id="dropdownIcon2"></i> 
                        &nbsp;People
                        <i class="icon fa-solid fa-comments"></i>
                    </button>
                    <div class="column" id="column2" style="display: none;">
                        <button class="audio-box" id="chatterButton">
                            <i id="chatterPlayIcon" class="play-icon fa-solid fa-play"></i> 
                            chatter
                        </button>
                        <button class="audio-box" id="jensynButton">
                            <i id="jensynPlayIcon" class="play-icon fa-solid fa-play"></i>
                            jensyn
                        </button>
                    </div>
                </div>
                <div class="column">
                    <button class="dropdown-box audio-box" id="dropdown3">
                        <i class="play-icon fa-solid fa-caret-right" id="dropdownIcon3"></i>
                        &nbsp;Sample
                    </button>
                    <div class="column" id="column3" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="playing-audio">
            <h2>Playing Audio</h2>
            <div id="playingAudioColumn">
                <div class="center">
                    <button class="stop-box hide" id="stop"><i class="fa-solid fa-stop"></i></button>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/module/howler/dist/howler.js"></script>
        <script src="/javascript/main.js"></script>
    </body>
</html>