/* font tags */
@font-face {
    font-family: exo;
    src: url(Exo-Light.ttf);
}
@font-face {
    font-family: exoThin;
    src: url(Exo-Thin.ttf);
}
@font-face {
    font-family: alegreya;
    src: url(AlegreyaSans-Medium.ttf);
}

/* general tags */
body {
    font-family: 'alegreya';
    padding: 0%;
    margin: 0%;
}

h2 {
    margin: 0;
}

.center {
    text-align: center;
}

.display {
    display: inline-block;
}

.hide {
    display: none;
}

/* Class tags */
/* Header Section */
.header-top {
    background: #C285F2;
    padding-top: 0;
}

.header-top-text {
    color: rgb(255, 255, 255);
    font-family: 'exo';
    letter-spacing: 20px;
    text-indent: 20px;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

.header-bottom {
    background: #D18AE3;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-bottom-text {
    color: rgb(255, 255, 255);
    font-family: 'exoThin';
    font-size: 15px;
    letter-spacing: 2px;

    margin: 0;
    margin-right: 170px;

    text-indent: 2px;
    text-align: center;
}

/* forms */
.login-form {
    float: left;
    margin-bottom: 0;
}

.new-user-form {
    margin: auto;
    width: 20%;
    padding: 10px;
    text-align: left;
}

.form-text {
    border: none;
    border-radius: 10px;
    background-color: #f5b6fb;

    font-size: 20px;
    font-family: 'alegreya';

    width: 100%;
    
    margin-bottom: 10px;
    padding: 5px;
}

.form-submit {
    border: none;
    border-radius: 10px;

    background-color: #8BD89C;

    font-size: 20px;
    
    padding: 5px;
    margin: auto;
    margin-top: 5px;

    width: 100px;

    cursor: pointer;
} .form-submit:hover {
    background-color: #7cc08a;
}

/* containers */
.column {
    width: 350px;
}

.audio-content {
    position: absolute;
    width: 70%;
    height: relative;
    left: 60px;
    top: 120px;

    text-align: center;

    padding: 20px;
    padding-top: 0;

    background: #eeeeee;
    border-radius: 40px;
}

.audio-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.playing-audio {
    position: absolute;
    width: 17%;
    min-height: 10%;
    height: auto;
    right: 60px;
    top: 120px;

    text-align: center;

    padding: 5px;
    padding-left: 10px;

    background: #eeeeee;
    border-radius: 40px;
}

/* icons */
.icon {
    float: right;
    margin-right: 5%;
}

.play-icon {
    float: left;

    margin-top: 1%;
    margin-right: 10%;
}

/* audio player buttons */
.audio-box {
    background: #8BD89C;

    border: none;
    border-radius: 20px;

    display: inline-block;

    width: 350px;
    margin: 5px;
    padding: 10px;
    padding-left: 30px;

    font-family: 'alegreya';
    font-size: 30px;
    text-align: left;
} .audio-box:hover {
    background: #81c791;
}

.playing-audio-box {
    background: #8B93D8;

    border: none;
    border-radius: 20px;

    display: inline-block;

    width: 170px;
    margin: 5px;
    padding: 10px;
    padding-left: 30px;

    font-family: 'alegreya';
    font-size: 30px;
    text-align: left;
} .playing-audio-box:hover {
    background: #7e85c5;
}

.stop-box {
    background: #d88b8b;

    border: none;
    border-radius: 20px;

    width: 150px;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    text-align: center;

    left: 50%;
} .stop-box:hover {
    background: #c37d7d;
}

.dropdown-box {
    background: #d985f2;
    width: 300px;
} .dropdown-box:hover {
    background: #c778df;
}

/* volume buttons */
.volume-button {
    background: #8bbed8;

    border: none;
    border-radius: 20px;


    width: 35px;
    height: 35px;

    padding-top: 3px;

    font-family: 'alegreya';
    font-size: 20px;
    text-align: left;
} .volume-button:hover {
    background: #7ba8bf;
}

.volume-clicked {
    background: #7ba8bf;
} .volume-clicked:hover {
    background: #8bbed8; 
}

/* MISC */
.new-page-button {
    border: none;
    border-radius: 10px;

    background-color: #8BD89C;

    float: left;

    padding: 5px;
    margin-top: -2px;
    margin-left: 65px;

    width: 105px;

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: underline;

    cursor: pointer;
} .new-page-button:hover {
    background: #81c791;
}